*{box-sizing:border-box;margin:0;padding:0}

html, body {
  min-height: 100%;
  margin: 0;
}

body{
  font-family:$font-ui;
  background: linear-gradient(180deg, #16162c 0%, $bg-dark 100%);
  color:$text-light;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:1.45;
}
a{color:$accent}
img{display:block;max-width:100%}
button{cursor:pointer}



